{% extends 'base/base.html'%}
{% load staticfiles%}

{% block title%} Productos {% endblock %}



{% block body_content%}

<div class="container purchaseItems">
    <h4>Adquiere tus productos</h4>
    <div class="container row">
        <div class="col-sm-3 col-md-6 col-lg-6">
            <form action="{% url 'petit:hacerOrden' %}" method="POST">
                {% csrf_token %}
                {% for producto in productos %}
                <div class="product-itemC men">
                    <div class="product_image">
                        <img src="{% static 'images/collarVenta.jpg' %} " class="imgPro img-responsive fit-image" alt="">
                    </div>
                    <div class="favorite favorite_left"></div>
                    <div class="product_info">
                        <h6 class="product_name" id="product_n{{producto.k_idproduct}}" name="product_n{{producto.k_idproduct}}">{{ producto.n_product }}</h6>
                        <div id="pricediv{{producto.k_idproduct}}" name="pricediv{{producto.k_idproduct}}" class="product_price">$ {{producto.v_price}}
                            <input type="hidden" name="product_name{{producto.k_idproduct}}" id="product_name{{producto.k_idproduct}}" value="{{ producto.n_product }}">
                            <input type="hidden" value="{{producto.v_price}}" id="product_price{{producto.k_idproduct}}" name="product_price{{producto.k_idproduct}}">
                            <input type="hidden" value="{{producto.k_idcommerce}}" id="product_commerce{{producto.k_idproduct}}" name="product_commerce{{producto.k_idproduct}}">
                        </div>
                        <input type="hidden" name="product_id{{producto.k_idproduct}}" id="product_id{{producto.k_idproduct}}" value="{{producto.k_idproduct}}">
                    </div>
                </div>
                {% endfor %}
        </div>
        <div class="col-sm-3 col-md-6 col-lg-6">
            <div class="one">
                <span class="selColor" name="selColor">Selecciona el color </span><br>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Rojo</option>
                    <option>Negro</option>
                    <option>Blanco</option>
                    <option>Azul</option>
                    <option>Rosado</option>
                </select>
            </div>
            <div class="one">
                <span class="selColor" name="selColor">Selecciona la cantidad </span><br>
                <input class="form-control" type="number" name="quantity" id="quantity" min="0"
                    onchange="actualizarPrecio(this.value)">
            </div>
            <div class="one">
                <span>Total a pagar:</span>
                <div class="totalCompra" id="totalCompra" name="totalCompra">
                    <input id="totalC" name="totalC" class="form-control totalC" type="text" value="$0" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <button id="pagar" type="submit" class="btn btn-pagos btn-lg btn-block">Solicitar Pago</button>
        </form>

    </div>
</div>
{% endblock %}