{% load staticfiles %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Inicie Sesion</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap4/bootstrap.min.css' %}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
</head>

<body class="text-center">
  <div class="container">
    <form class="form-signin" method="POST">
      {% csrf_token %}
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Por favor inicie sesion</h1>
      <label for="inputEmail" class="sr-only">Usuario</label>
      <input type="text" id="inputUser" name="username" class="form-control" placeholder="Usuario">
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Contraseña">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recuerdeme
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesion Operador</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </div>
  <div class="container">
    <form class="form-signin" action="{% url 'petit:inicio' %}">
      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Entrar como cliente" />
    </form>
  </div>
</body>
</html>
